<% include header.ejs %>
<script>
  const oldnavbar=(document.querySelector('.jkil'));
  oldnavbar.style.display='none';
</script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Matdaan🙏</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" >
        <li class="nav-item active" style="margin-left: 20px; font-size: 22px;">
            <a href="/register" style="color: black; text-decoration: none;">Register<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active" style="margin-left: 20px; font-size: 22px;">
            <a href="/vote" style="color: black; text-decoration: none;">Vote<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active" style="margin-left: 20px; font-size: 22px;">
            <a href="/results" style="color: black; text-decoration: none;">Results<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active" style="margin-left: 20px; font-size: 22px;">
            <a href="/about" style="color: black; text-decoration: none;">About Us<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active" style="margin-left: 20px; font-size: 22px;">
            <a href="/candidates" style="color: black; text-decoration: none;">Candidates<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <div style="float: right;">
        <a class="btn btn-primary" style="color: white; text-decoration: none;" href="/admin">Admin</a>
      </div>
    </div>
  </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container" style="width: 40%;">
                        <h1 class="display-4 text-center">Admin Login</h1>
                        <p class="lead">
                            <form method="post" action="/admin/login" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="login_id">Login ID</label>
                                    <input type="text" class="form-control" id="login_id" name="login_id">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" name="password">
                                </div>
                                <hr>
                                <div class="form-group">
                                    <button type="submit" id="login_btn" class="btn btn-success btn-lg btn-block">Login</button>
                                </div>
                            </form>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>

    </html>
    <% include footer.ejs %>